In [1]:
import sklearn

In [2]:
import pandas as pd

In [3]:
!dir.\files\auto-mpg.csv

 C 드라이브의 볼륨: Windows
 볼륨 일련 번호: 729B-BAE0

 C:\Develops\multi_machinelearning\files 디렉터리

2021-06-29  오후 04:09            21,913 auto-mpg.csv
               1개 파일              21,913 바이트
               0개 디렉터리  194,096,676,864 바이트 남음

object 주의깊게 확인하기
숫자로 들어가야하는데 object로 잡혔다면 의심해야해~
그래서 빼고 진행할게

* 데이터 읽고 필요한 부분 찾음

In [4]:
pd_data=pd.read_csv('./files/auto-mpg.csv', header=None)
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [5]:
pd_data.shape

(398, 9)

In [6]:
pd_data.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']
pd_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [7]:
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [8]:
x = pd_data[['weight', 'cylinders']]

In [9]:
y = pd_data[['mpg']]

In [10]:
x.shape, y.shape

((398, 2), (398, 1))

In [11]:
# pd_data[['weight','cylinders','mpg']]

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test,Y_train, Y_test =train_test_split(x,y)
X_train.shape, X_test.shape,Y_train.shape, Y_test.shape

((298, 2), (100, 2), (298, 1), (100, 1))

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
lr=LinearRegression()

In [16]:
# lr.fit(x,y)
lr.fit(X_train,Y_train)

LinearRegression()

In [17]:
#split data with 1 column
lr.coef_,lr.intercept_

(array([[-0.00626145, -0.83856036]]), array([46.80649105]))

첫번째 x는 첫번째 컬럼,
두번째 x는 두번째 컬럼

y= weight + cylinders + mpg

In [18]:
# check with total data
lr.score(x,y)

0.6958938319802959

In [19]:
# check with a part train data
lr.score(X_train,Y_train)

0.7232406868640677

In [20]:
# check with a part of test data
lr.score(X_test,Y_test)

0.6042739505045989

### 고객 응대

In [21]:
# weight->cylinders
lr.predict([[3504.0, 8]])

array([[18.15789951]])

In [22]:
lr.predict([[2790.0, 4]])

array([[25.98281377]])

In [23]:
type(lr)

sklearn.linear_model._base.LinearRegression

In [24]:
import pickle

In [25]:
pickle.dump(lr, open('./saves/autompg_lr.pkl','wb'))

In [26]:
y_predict=lr.predict(X_train)
y_predict

array([[30.11536849],
       [11.90897586],
       [20.73666852],
       [28.41851647],
       [31.46157949],
       [19.73483708],
       [27.25967538],
       [25.08742691],
       [20.61143959],
       [ 8.80955982],
       [ 9.09132491],
       [20.4235962 ],
       [23.20993991],
       [14.5387834 ],
       [22.55248802],
       [26.73418735],
       [14.1756195 ],
       [32.18164585],
       [13.70601101],
       [32.3507049 ],
       [12.66034944],
       [31.96875666],
       [17.78847416],
       [23.61693393],
       [31.02327824],
       [29.75220459],
       [22.97731942],
       [15.991439  ],
       [30.49105528],
       [29.27633465],
       [12.91706875],
       [17.37427173],
       [20.3296745 ],
       [10.67547089],
       [22.61510249],
       [12.69791812],
       [17.52549341],
       [14.67653523],
       [18.68386102],
       [31.0858927 ],
       [27.01595245],
       [17.31165726],
       [23.52927368],
       [30.14667572],
       [31.16103006],
       [13.31153988],
       [31.96249522],
       [29.66454434],
       [25.35666911],
       [12.14691082],
       [11.93402164],
       [20.78049865],
       [30.52236251],
       [30.02770824],
       [15.80359561],
       [13.70601101],
       [28.58131408],
       [30.77282037],
       [24.98098232],
       [27.14118138],
       [16.97448611],
       [28.51869962],
       [26.95333798],
       [19.70352984],
       [12.77931693],
       [18.4199333 ],
       [25.26274741],
       [18.50227907],
       [29.95883232],
       [22.12044821],
       [25.01228955],
       [27.17248861],
       [20.29836726],
       [20.60517815],
       [16.11666793],
       [25.28247872],
       [21.6758855 ],
       [15.72845825],
       [29.33894912],
       [31.14850717],
       [19.92988888],
       [26.47746804],
       [15.42790881],
       [27.86124773],
       [20.4235962 ],
       [23.22777729],
       [23.22872425],
       [29.58314553],
       [31.71203736],
       [29.64576   ],
       [10.93845164],
       [32.02510968],
       [21.98895783],
       [30.71020591],
       [26.32719333],
       [30.991971  ],
       [30.24059742],
       [23.72869301],
       [31.05458547],
       [30.61628421],
       [23.7734701 ],
       [28.92569364],
       [23.47823515],
       [20.28584437],
       [30.81038905],
       [26.92203075],
       [29.48922383],
       [30.45974805],
       [25.9201993 ],
       [29.9024793 ],
       [16.54870775],
       [31.21112163],
       [17.50044762],
       [27.39163924],
       [27.79863327],
       [29.95883232],
       [12.19074095],
       [30.64133   ],
       [26.9282922 ],
       [26.2019644 ],
       [12.39110724],
       [16.05405347],
       [29.11353704],
       [23.05340374],
       [30.61002276],
       [29.38904069],
       [27.28519465],
       [20.20444557],
       [21.7823301 ],
       [23.09097242],
       [28.23693452],
       [29.39530213],
       [26.42111503],
       [14.57009064],
       [20.24201425],
       [17.15606806],
       [30.11536849],
       [28.39347069],
       [14.78924127],
       [29.85864918],
       [14.43860026],
       [23.42909054],
       [27.26641031],
       [28.73785025],
       [13.86254718],
       [31.30504333],
       [26.26457886],
       [15.67836668],
       [18.07555374],
       [30.39713358],
       [10.95723598],
       [30.14667572],
       [24.64912565],
       [26.72166446],
       [21.18749267],
       [29.9024793 ],
       [29.2700732 ],
       [27.51686817],
       [32.43210371],
       [25.52667513],
       [17.85640311],
       [17.10597649],
       [20.11678532],
       [27.44799226],
       [22.91565192],
       [26.29588609],
       [26.53382106],
       [11.92776019],
       [20.93077337],
       [31.02327824],
       [31.96249522],
       [14.71410391],
       [10.45005881],
       [29.51426962],
       [29.05092257],
       [27.42294647],
       [20.2554841 ],
       [15.86621007],
       [18.10059953],
       [13.0986507 ],
       [ 9.09758636],
       [17.10597649],
       [20.77518416],
       [30.14041427],
       [29.33268767],
       [22.23315425],
       [20.07921664],
       [22.89686758],
       [13.67470378],
       [12.14691082],
       [18.95215626],
       [31.95623377],
       [22.11418676],
       [24.93715219],
       [28.45608515],
       [14.42607737],
       [25.51320528],
       [27.86750918],
       [18.91458758],
       [19.64091538],
       [27.53565251],
       [28.61262132],
       [31.24242887],
       [31.0858927 ],
       [11.2014324 ],
       [16.17302095],
       [33.35253635],
       [23.33516884],
       [21.66962406],
       [21.33776739],
       [29.08222981],
       [30.991971  ],
       [30.92935654],
       [27.70471157],
       [31.12972283],
       [21.53187223],
       [30.46600949],
       [29.99013956],
       [30.17798295],
       [30.64759144],
       [30.80412761],
       [10.46884315],
       [22.8592989 ],
       [30.96066377],
       [12.83566994],
       [10.3811829 ],
       [30.64759144],
       [ 7.91417296],
       [19.15252255],
       [12.6415651 ],
       [16.77411982],
       [13.33658567],
       [30.9105722 ],
       [26.72792591],
       [29.94004798],
       [29.46417805],
       [19.10869242],
       [24.86922324],
       [12.67287233],
       [31.32382767],
       [32.21295308],
       [31.14850717],
       [28.37468635],
       [29.95883232],
       [30.52236251],
       [24.4058762 ],
       [13.20509529],
       [31.89988075],
       [13.01725189],
       [14.45112315],
       [28.5562683 ],
       [21.09983242],
       [21.33150594],
       [15.42790881],
       [33.12712428],
       [27.22258018],
       [26.42111503],
       [11.05741913],
       [30.99149752],
       [29.74594314],
       [29.50174673],
       [29.2700732 ],
       [26.95333798],
       [31.32382767],
       [30.24059742],
       [22.02026506],
       [23.33516884],
       [23.42909054],
       [29.53305396],
       [24.14915689],
       [21.22506135],
       [23.10254836],
       [29.61445276],
       [29.18241295],
       [12.79810126],
       [12.1970024 ],
       [26.58391264],
       [24.02392796],
       [16.4485246 ],
       [19.04607796],
       [25.19481846],
       [25.98281377],
       [13.44303026],
       [24.89379555],
       [14.5513063 ],
       [27.6420971 ],
       [10.86957573],
       [12.40989158],
       [30.02144679],
       [29.92752509],
       [24.71268708],
       [14.24449542],
       [28.21188874],
       [28.45608515],
       [30.11536849],
       [30.11536849],
       [32.21295308],
       [15.33398712]])

In [30]:
y_predict.shape , Y_train.shape

((298, 1), (298, 1))

분산: 편차는 프레딕트한 값과 원래값을 뺀것 

y_result=y_predict - Y_train

In [31]:
y_result=y_predict - Y_train 
y_result

          mpg
18   3.115368
68  -1.091024
284  0.136669
109  7.418516
295 -4.238421
..        ...
369 -5.543915
29   3.115368
304 -7.184632
198 -0.787047
287 -1.166013

[298 rows x 1 columns]

In [32]:
lr.score(X_train, Y_train)

0.7232406868640677