In [1]:
import sklearn

In [2]:
import pandas as pd

In [3]:
!dir.\files\auto-mpg.csv

 C 드라이브의 볼륨: Windows
 볼륨 일련 번호: 729B-BAE0

 C:\Develops\multi_machinelearning\files 디렉터리

2021-06-29  오후 04:09            21,913 auto-mpg.csv
               1개 파일              21,913 바이트
               0개 디렉터리  194,696,478,720 바이트 남음

object 주의깊게 확인하기
숫자로 들어가야하는데 object로 잡혔다면 의심해야해~
그래서 빼고 진행할게

* 데이터 읽고 필요한 부분 찾음

In [4]:
pd_data=pd.read_csv('./files/auto-mpg.csv', header=None)
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [5]:
pd_data.shape

(398, 9)

In [6]:
pd_data.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']
pd_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [7]:
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [37]:
x = pd_data[['weight', 'cylinders']]

In [38]:
y = pd_data[['mpg']]

In [39]:
x.shape, y.shape

((398, 2), (398, 1))

In [40]:
# pd_data[['weight','cylinders','mpg']]

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
X_train, X_test,Y_train, Y_test =train_test_split(x,y)
X_train.shape, X_test.shape,Y_train.shape, Y_test.shape

((298, 2), (100, 2), (298, 1), (100, 1))

In [43]:
from sklearn.linear_model import LinearRegression

In [44]:
lr=LinearRegression()

In [45]:
# lr.fit(x,y)
lr.fit(X_train,Y_train)

LinearRegression()

In [46]:
#split data with 1 column
lr.coef_,lr.intercept_

(array([[-0.00631045, -0.75332346]]), array([46.20120136]))

첫번째 x는 첫번째 컬럼,
두번째 x는 두번째 컬럼

y= weight + cylinders + mpg

In [47]:
# check with total data
lr.score(x,y)

0.6959166555547024

In [48]:
# check with a part train data
lr.score(X_train,Y_train)

0.7129830269806476

In [49]:
# check with a part of test data
lr.score(X_test,Y_test)

0.6523252017859615

### 고객 응대

In [50]:
# weight->cylinders
lr.predict([[3504.0, 8]])

array([[18.06278254]])

In [51]:
lr.predict([[2790.0, 4]])

array([[25.58174061]])