시각화 툴 seaborn설치

!python -m pip install seaborn

%load_ext autoreload
%autoreload 2

In [3]:
import seaborn as sns

In [5]:
df= sns.load_dataset('titanic')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [7]:
df.info(), df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

(None, (891, 15))

결칩치 확인해서 걸러내고 남은 것

y값 survived,pclass,age,sibsp,parch,fare

변수df에서 [pclass,age,sibsp,parch,fare] 을 픽해서 X로 넣는다 

y 랑 x선정

In [11]:
X=df[['pclass','sibsp','parch','fare']]

In [12]:
Y=df['survived']

In [13]:
X.shape, Y.shape

((891, 4), (891,))

In [14]:
from sklearn.model_selection import train_test_split

train과 test로 나온다 

shape 한번 확인하고 넘어가~

In [15]:
X_train, X_test, Y_train, Y_test= train_test_split(X,Y)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((668, 4), (223, 4), (668,), (223,))

카테고리는 범주형이다 우리가 아는 레그레이션 말고 카테고리 방식으로 해야해
그래서 로지스틱레그레이션 사용할게

In [16]:
from sklearn.linear_model import LogisticRegression

model을 핏팅한다

LogisticRegression은 초기화함

In [17]:
logR=LogisticRegression()
type(logR)

sklearn.linear_model._logistic.LogisticRegression

핏팅할건데 엑스트레인 와이트레인 순서로 넣어

In [18]:
logR.fit(X_train,Y_train)

LogisticRegression()

여기까지는 동일했는데 그런데 여기서부터 측정과 사용부분이 달라진다

뱉을수 있는 카테고리 종류

In [19]:
logR.classes_

array([0, 1], dtype=int64)

리니어레그레이션 그대로 채용한거야

In [21]:
logR.coef_

array([[-0.73182487, -0.15337573,  0.22378903,  0.00474918]])

0과 1로 카테고리 뱉는거, score가 믿을순 없지만..값이나옴

In [23]:
logR.score(X_train,Y_train)

0.688622754491018