시각화 툴 seaborn설치

!python -m pip install seaborn

%load_ext autoreload
%autoreload 2

In [1]:
import seaborn as sns

In [2]:
df= sns.load_dataset('titanic')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [3]:
df.info(), df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

(None, (891, 15))

결칩치 확인해서 걸러내고 남은 것

y값 survived,pclass,age,sibsp,parch,fare

변수df에서 [pclass,age,sibsp,parch,fare] 을 픽해서 X로 넣는다 

y 랑 x선정

In [4]:
X=df[['pclass','sibsp','parch','fare']]

In [5]:
Y=df['survived']

In [6]:
X.shape, Y.shape

((891, 4), (891,))

In [7]:
from sklearn.model_selection import train_test_split

train과 test로 나온다 

shape 한번 확인하고 넘어가~

In [8]:
X_train, X_test, Y_train, Y_test= train_test_split(X,Y)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((668, 4), (223, 4), (668,), (223,))

카테고리는 범주형이다 우리가 아는 레그레이션 말고 카테고리 방식으로 해야해
그래서 로지스틱레그레이션 사용할게

In [9]:
from sklearn.linear_model import LogisticRegression

model을 핏팅한다

LogisticRegression은 초기화함

In [10]:
logR=LogisticRegression()
type(logR)

sklearn.linear_model._logistic.LogisticRegression

핏팅할건데 엑스트레인 와이트레인 순서로 넣어

In [11]:
logR.fit(X_train,Y_train)

LogisticRegression()

여기까지는 동일했는데 그런데 여기서부터 측정과 사용부분이 달라진다

뱉을수 있는 카테고리 종류

In [12]:
logR.classes_

array([0, 1], dtype=int64)

리니어레그레이션 그대로 채용한거야 

1차원의 방정식은 개수들이 존재하고 내가 넣은 항목(4개)마다 개수(4개)들이 생긴다

In [13]:
logR.coef_

array([[-0.61599147, -0.14566931,  0.30354378,  0.0074843 ]])

0과 1로 카테고리 뱉는거, score가 믿을 수 있는 값은아니지만 나옴

In [14]:
logR.score(X_train,Y_train)

0.6796407185628742

5명 찬반 투표<br>
찬성 2 -> 2/5<br>
반성 3 -> 3/5<br>

로지스틱에 넣게되면 해당공식에 해당부분에 의견을 낸다 

클레스피케이션의 논리<br> 
A: 찬성0.8, 반대 0.2<br>
B: 찬성0.1, 반대 0.9<br>

예)후보자 3명, 선출하는 장소<br>
A<br>
B<br>
C<br>

선거인원 10명<br>
가:A-0.2, B-0.5, C-0.3 : B를 찍는다<br>
나:A-0.1, B-0.2, C-0.7 : C를 찍는다 <br>
...

* 교육이 다 끝낫기 때문에 predict하면 전체가 나옴

In [15]:
logR.predict(X_train)

array([0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

생존이냐 생존이 아니냐 의견을 머신이 냈음

In [18]:
logR.predict_proba(X_train)

array([[0.59069704, 0.40930296],
       [0.74447519, 0.25552481],
       [0.38067575, 0.61932425],
       ...,
       [0.74447519, 0.25552481],
       [0.60210965, 0.39789035],
       [0.60658357, 0.39341643]])

시그모이드 함수 :<br>
두 값이 모이면 1 이된다. (라인을 두번 돌려서 값이나오는데 그 값을 더하면 1이됨)<br>
값이 0과 1만 나오게하는 함수<br>

특정부분만 꺼내서 제대로 동작했는지 확인

In [20]:
logR.predict_proba(X_train[10:13])

array([[0.38239084, 0.61760916],
       [0.74240528, 0.25759472],
       [0.74453456, 0.25546544]])

* 실제 결과값이랑 맞는지 비교해서 확인 해보기

In [21]:
logR.predict(X_train[10:13])

array([1, 0, 0], dtype=int64)

In [16]:
from sklearn import metrics

In [17]:
metrics.confusion_matrix(X_train,Y_train)

ValueError: Classification metrics can't handle a mix of continuous-multioutput and binary targets