### 광고를 얼만큼 클릭했을까?
#### 정보단계<br>
y와 x에 대한 데이터 선택 (주의: 컬럼의 문제가 없다는 것을 확인,숫자여야함)

#### 교육단계<br>
데이터 스플릿 <br>
모델 교육시키기 <br>
특정구간 4개만 predict한다<br>
metrics로 스코어 확인하기<br>

#### 서비스단계<br>
해당부분을 pikle로 저장하고 불러오기

In [12]:
import sklearn
import pandas as pd

In [13]:
!dir.\files\advertising.xls

 C 드라이브의 볼륨: Windows
 볼륨 일련 번호: 729B-BAE0

 C:\Develops\multi_machinelearning\files 디렉터리

2021-07-01  오후 01:31           233,472 advertising.xls
               1개 파일             233,472 바이트
               0개 디렉터리  194,450,481,152 바이트 남음

In [14]:
pd_data=pd.read_excel('./files/advertising.xls')
pd_data.info(),pd_data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   datetime64[ns]
 9   Clicked on Ad             1000 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(3)
memory usage: 78.2+ KB

(None, (1000, 10))

결칩치 빼고 나머지

Daily Time Spent on Site,Age,Area Income,Daily Internet Usage, Male ,Clicked on Ad

In [52]:
X=pd_data[['Age','Area Income','Daily Internet Usage', 'Male' ,'Clicked on Ad']]
X

     Age  Area Income  Daily Internet Usage  Male  Clicked on Ad
0     35     61833.90                256.09     0              0
1     31     68441.85                193.77     1              0
2     26     59785.94                236.50     0              0
3     29     54806.18                245.89     1              0
4     35     73889.99                225.58     0              0
..   ...          ...                   ...   ...            ...
995   30     71384.57                208.58     1              1
996   45     67782.17                134.42     1              1
997   51     42415.72                120.37     1              1
998   19     41920.79                187.95     0              0
999   26     29875.80                178.35     0              1

[1000 rows x 5 columns]

In [53]:
Y=pd_data[['Daily Time Spent on Site']]
Y

     Daily Time Spent on Site
0                       68.95
1                       80.23
2                       69.47
3                       74.15
4                       68.37
..                        ...
995                     72.97
996                     51.30
997                     51.63
998                     55.55
999                     45.01

[1000 rows x 1 columns]

In [54]:
X.shape,Y.shape

((1000, 5), (1000, 1))

교육단계

In [55]:
from sklearn.model_selection import train_test_split

In [56]:
X_train, X_test,Y_train, Y_test =train_test_split(X,Y)
X_train.shape, X_test.shape,Y_train.shape, Y_test.shape

((750, 5), (250, 5), (750, 1), (250, 1))

In [57]:
from sklearn.linear_model import LinearRegression

In [49]:
log=LogisticRegression()

In [58]:
log.fit(X_train,Y_train)

c:\python\python36\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

ValueError: Unknown label type: 'continuous'

In [51]:
log.coef_

AttributeError: 'LogisticRegression' object has no attribute 'coef_'

In [ ]:
log.intercept_

In [ ]:
log.predict_proba(X_train[0:4])

In [ ]:
log.predict(X_train[0:4])

In [ ]:
from sklearn import metrics

In [ ]:
Y_pred=log.predict(X_train)
Y_pred.shape, Y_train.shape

In [ ]:
print(metrics.classification_report(Y_train, Y_pred))

In [ ]:
metrics.confusion_matrix(Y_train, Y_pred)

In [59]:
import pickle

In [60]:
pickle.dump(favorite, open('./saves/ws0701_adv_save.pkl','wb'))

NameError: name 'favorite' is not defined

In [ ]:
pickle.load(open('./saves/ws0701_adv_save.pkl','rb'))