### 광고를 얼만큼 클릭했을까?
#### 정보단계<br>
y와 x에 대한 데이터 선택 (주의: 컬럼의 문제가 없다는 것을 확인,숫자여야함)

#### 교육단계<br>
데이터 스플릿 <br>
모델 교육시키기 <br>
특정구간 4개만 predict한다<br>
metrics로 스코어 확인하기<br>

#### 서비스단계<br>
해당부분을 pikle로 저장하고 불러오기

## ---정보단계

In [1]:
import sklearn
import pandas as pd

In [2]:
!dir.\files\advertising.xls

 C 드라이브의 볼륨: Windows
 볼륨 일련 번호: 729B-BAE0

 C:\Develops\multi_machinelearning\files 디렉터리

2021-07-01  오후 01:31           233,472 advertising.xls
               1개 파일             233,472 바이트
               0개 디렉터리  194,462,490,624 바이트 남음

In [3]:
pd_data=pd.read_excel('./files/advertising.xls')
pd_data.info(),pd_data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   datetime64[ns]
 9   Clicked on Ad             1000 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(3)
memory usage: 78.2+ KB

(None, (1000, 10))

결칩치 빼고 나머지

Daily Time Spent on Site,Age,Area Income,Daily Internet Usage, Male ,Clicked on Ad 

해당수를 기준이 되는 표준치로 바꿔서 저장해야해:표준정규분포

In [4]:
X=pd_data[['Daily Time Spent on Site','Age','Area Income','Daily Internet Usage', 'Male' ]]
X

     Daily Time Spent on Site  Age  Area Income  Daily Internet Usage  Male
0                       68.95   35     61833.90                256.09     0
1                       80.23   31     68441.85                193.77     1
2                       69.47   26     59785.94                236.50     0
3                       74.15   29     54806.18                245.89     1
4                       68.37   35     73889.99                225.58     0
..                        ...  ...          ...                   ...   ...
995                     72.97   30     71384.57                208.58     1
996                     51.30   45     67782.17                134.42     1
997                     51.63   51     42415.72                120.37     1
998                     55.55   19     41920.79                187.95     0
999                     45.01   26     29875.80                178.35     0

[1000 rows x 5 columns]

In [5]:
Y=pd_data[['Clicked on Ad']]
Y

     Clicked on Ad
0                0
1                0
2                0
3                0
4                0
..             ...
995              1
996              1
997              1
998              0
999              1

[1000 rows x 1 columns]

In [6]:
X.shape,Y.shape

((1000, 5), (1000, 1))

## ---교육단계

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test,Y_train, Y_test =train_test_split(X,Y)
X_train.shape, X_test.shape,Y_train.shape, Y_test.shape

((750, 5), (250, 5), (750, 1), (250, 1))

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
log=LinearRegression()

In [11]:
log.fit(X_train,Y_train)

LinearRegression()

In [12]:
log.coef_

array([[-1.28487448e-02,  9.52859501e-03, -5.79090173e-06,
        -5.26864559e-03, -3.38789413e-02]])

In [13]:
log.intercept_

array([2.28278055])

## --- train set확인

In [14]:
from sklearn import metrics

In [15]:
Y_pred=log.predict(X_train)
Y_pred.shape.Y_train.shape

AttributeError: 'tuple' object has no attribute 'Y_train'

In [ ]:
log.predict_proba(X_train[100:104])

In [ ]:
Y_train[100:104]

In [ ]:
Y_pred=log.predict(X_train)
Y_pred.shape, Y_train.shape

In [ ]:
print(metrics.classification_report(Y_train, Y_pred))

In [ ]:
metrics.confusion_matrix(Y_train, Y_pred)

## ---test set 확인

In [ ]:
pred_test = log.predict(X_test)
pred_test[100:104]

In [ ]:
log.predict_proba(X_test[100:104])

In [ ]:
Y_test[100:104]

In [ ]:
print(metrics.classification_report(Y_test, pred_test))

In [ ]:
metrics.confusion_matrix(Y_test, pred_test)

In [ ]:
import pickle

In [ ]:
#pickle.dump(favorite, open('./saves/ws0701_adv_save.pkl','wb'))

In [ ]:
#pickle.load(open('./saves/ws0701_adv_save.pkl','rb'))