<a href="https://colab.research.google.com/github/ginttone/multi_machinelearning/blob/master/7_iloc_loc_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

클러스터링:

y값없는 데이터가 많다 결칩치를 채우기 위해 y값을 age로 한다 나머지를 x값으로 돌리고 리니어레그레이션로 교육시킨다 

중심a,b,c가 있다고 가정하면 a,b,c가 찍어진 부분에서 본이과 가까운애들끼리 그룹핑을한다 

실시간으로 데이터가 모이고 그 실시간동안 값을 낼때 유리하게 쓰인다

[csv_file_](https://archive.ics.uci.edu/ml/machine-learning-databases//00292/Wholesale%20customers%20data.csv
) 파일 1개 다운받음


코랩,케글:리눅스 베이스

In [8]:
!ls #리눅스에서 샘플데이터들 가져옴

sample_data

In [11]:
#ls는 리스트 - l 은 옵션(리스트); 리스트로 보여주는데 자세한 리스트로 보여줘

!ls -l 

#d<- 디렉토리(폴더)

total 4
drwxr-xr-x 1 root root 4096 Jun 15 13:37 sample_data

In [7]:
!pwd  #지금 content 위치에있다

/content

In [14]:
#./내가 원하는 디렉토리 명

!ls -l ./sample_data

total 55504
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json
-rw-r--r-- 1 root root   301141 Jun 15 13:37 california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Jun 15 13:37 california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Jun 15 13:37 mnist_test.csv
-rw-r--r-- 1 root root 36523880 Jun 15 13:37 mnist_train_small.csv
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md

In [15]:
!ls -l ./

total 20
drwxr-xr-x 1 root root  4096 Jun 15 13:37 sample_data
-rw-r--r-- 1 root root 15021 Jul  2 04:46 Wholesale_customers_data.csv

In [18]:
import pandas as pd
df=pd.read_csv('./Wholesale_customers_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    int64
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicassen        440 non-null    int64
dtypes: int64(8)
memory usage: 27.6 KB

In [19]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df = pd.DataFrame(mydict)
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [20]:
df.iloc[0]

a    1
b    2
c    3
d    4
Name: 0, dtype: int64

In [23]:
#iloc은 numpy 다 
df.iloc[0,1]

2

In [38]:
df.iloc[2]

max_speed    7
shield       8
Name: sidewinder, dtype: int64

In [33]:
# range(1,6)
df.iloc[1:3,2:5]

      c     d
1   300   400
2  3000  4000

In [36]:
#label로 접근한다 pandas에 종속
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [39]:
df.loc['cobra']

max_speed    1
shield       2
Name: cobra, dtype: int64

In [41]:
df.loc['cobra':'viper','max_speed':'shield']

       max_speed  shield
cobra          1       2
viper          4       5